// Code inside `@if $is-oldie {}` will compile inside oldie.css
$is-oldie: false !default;

// Same thing but with mq()
$mq-breakpoints: (
  mobile:   320px,
  tablet:   620px,
  document: 980px
);

$gutter: $o-grid-responsive-half-gutter * 2;
