
@import "origami-settings";

@import "o-grid/src/scss/variables";
@import "o-grid/src/scss/utils";
@import "o-ft-forms/main";

$o-fonts-is-silent: false;
@import "o-fonts/main";

@import "var";
@import "mixins";

@import "sass-mq/mq";

img {
  display: block;
  max-width: 100%;
}

@import "base/links";
@import "base/layout";
@import "base/typography";

@import "components/badge";
@import "components/book";
@import "components/browsebox";
@import "components/content-block";
@import "components/filter-bar";
@import "components/filterform";
@import "components/meta";
@import "components/book-promo";
@import "components/searchform";
@import "components/shelf";
@import "components/subnavigation";
@import "components/topbar";

@import "trumps/clear";
@import "trumps/fauxlink";
@import "trumps/text";
@import "trumps/lists";
@import "trumps/visuallyhidden";
