html {
  overflow-y: auto; // Force scrollbar to avoid repaints during page load
}
html,
body {
  background: oColorsGetColorFor(page, background);
}
.container {
  position: relative;
  @include oGridBoxSizing(border-box);
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  max-width: mq-get-breakpoint-width(tablet);
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  margin: 0 auto;
  height: auto;
  max-width: 240px;
}

.content-primary {
  margin-bottom: 2em;
}
.content-secondary {
  margin-bottom: 3em; // Create extra space at the bottom of the page
}