html,
body {
  background: oColorsGetColorFor(page, background);
}


body {

}

.container {
  margin-left: $gutter/2;
  margin-right: $gutter/2;
  max-width: mq-get-breakpoint-width(tablet) - $gutter;

  @include mq(tablet) {
    margin-left: auto;
    margin-right: auto;
  }
}

$switch-to-bigger-logo-breakpoint: tablet;

.header__logo {
  position: relative;
  max-width: 32px;
  margin: 0 auto;
  text-align: center;

  @include mq($switch-to-bigger-logo-breakpoint) {
    max-width: 250px;
  }
}
.ft-logo {
  display: block;
  position: relative;
  padding-bottom: percentage(103px/186px);
  overflow: hidden;

  @include mq($switch-to-bigger-logo-breakpoint) {
    padding-bottom: percentage(33px/400px);
  }
  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(/images/ft.svg);
    background-size: 100%;
    background-repeat: no-repeat;

    @include mq($switch-to-bigger-logo-breakpoint) {
      background-image: url(/images/ft-logo.svg);
    }
  }
}

.microsite-name {
  font-family: oFontsGetFontFamilyWithFallbacks(MillerDisplay);
  line-height: 1.1;
  text-align: center;

  @include mq(tablet) {
    font-size: 3em;
  }
}
