/**
 * 1. Make type rendering look crisper
 * 2. Set baseline font size to 10px
 * 3. Fixes an IE11 bug where rouding with % would create scaling issues  
 *    See http://bit.ly/1g4X0bX — thanks @7studio and @dawitti
 * 4. Set default text size back to 16px (at default zoom level)
 * 5. Set relative line spacing to 1.5 (16px * 1.5 = 24px)
 */

html {
  font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
  -moz-osx-font-smoothing: grayscale; /* 1 */
  -webkit-font-smoothing: antialiased; /* 1 */
  font-size: 62.5%; /* 2 */
  font-size: calc(1em * .625); /* 3 */
}
body {
  font-size: 1.6em; /* 4 */
  line-height: 1.5; /* 5 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.headline {
  padding-left: $gutter/2;
  border-left: $gutter/2 solid oColorsGetPaletteColor(grey-tint1);
  border-bottom: 1px solid oColorsGetPaletteColor(grey-tint1);
  margin-bottom: .5em;
  line-height: 1;
  font-size: 1.4em;
  padding-bottom: .2em;
}
