$badge-offset: -2px; // align with middle of text
$badge-text-size: 10px;
$badge-size: 20px;

.badge {
  position: relative;
  top: $badge-offset;
  border-radius: 999px; // because 50% won't render well in older Webkits
  color: #fff;
  font-weight: bold;
  display: inline-block;
  font-style: normal;
  font-size: $badge-text-size;
  line-height: $badge-size;
  width: $badge-size;
  vertical-align: middle;
  text-align: center;

  &:after {
    line-height: $badge-size;
  }
}
.badge--winner {
  background-color: #AF526C;

  &:after {
    content: "W";
  }
}
.badge--short-listed {
  background-color: #2A72A2;

  &:after {
    content: "SL";
  }
}
.badge--long-listed {
  background-color: #959288;

  &:after {
    content: "LL";
  }
}