.book {}
.book__media {
  float: left;
  width: 40%;
  max-width: span(3);
  margin-right: $gutter/2;

  @include mq(tablet) {
    margin-right: $gutter;
  }
}
.book__title {
  margin-bottom: .2em;
  line-height: 1.2;
  font-size: 1.2em;

  @include mq(tablet) {
    font-size: 1.5em;
  }
}
.book__byline {
  margin-bottom: .5em;
}
.book__prizes {}
.book__meta {}
.book__content {
  margin-top: 2em;
}
.book__synopsis {}
