.book-promo {}
.book-promo__prizes {
  margin-bottom: .2em;
}
.book-promo__media {
  img {
    display: block;
    margin: 0 auto;
    max-width: 60%;
  }
}
.book-promo__content {

}
.book-promo__title {
  margin-top: .25em;
  margin-bottom: .25em;
}
.book-promo__byline {}
