.book {}
.book__media {
  float: left;
  width: 40%;
  margin-right: 12px;
  padding-top: 3px; // align with top of text
  
  @include mq(tablet) {
    padding-top: 5px; // align with top of text
  }
}
.book__title {
  margin-bottom: .2em;
  line-height: 1.375;
  font-size: 1em;

  @include mq(tablet) {
    font-size: 1.25em;
  }
}
.book__byline {
  margin-bottom: .5em;
  font-size: 0.8125em;

  @include mq(tablet) {
    font-size: 1em;
  }
}
.book__prizes {
  font-size: 0.8125em;

  @include mq(tablet) {
    font-size: 1em;
  }
}
.book__meta {}
.book__content {
  margin-top: 2em;
}
.book__synopsis {
  font-family: oFontsGetFontFamilyWithFallbacks(Clarion);
}
.book__actions {
  margin-bottom: 2em;
}
