.filter-bar {
  padding: 15px $gutter;
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
  background: oColorsGetColorFor(box, background);
  border-bottom: 2px solid oColorsGetPaletteColor(grey-tint1);
  
  @include mq(tablet) {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    max-width: 800px;
    margin: 0 auto;
    padding-left: $gutter*.75;
    padding-right: $gutter*.75;
  }
}
