.filter-form {
  @include mq(tablet) {
    float: left;
    width: 35%;
  }
}
.filter-form__inner {
  padding-left: 115px;
}
.filter-form__label {
  float: left;
  margin-left: -115px;
  padding-top: 9px;
}

@include mq(tablet) {
  .filter-form__inner {
    padding-left: 50px;
  }
  .filter-form__label {
    margin-left: -50px;
  }
  .filter-form__filter-by {
    display: none;
  }
}  
.filter-form__select {
  float: left;
  
  // Normalize height and size with the text fields
  padding-top: 5px;
  padding-bottom: 4px;
  background-size: 18px 18px;
}
.filter-form__submit {
  
}

