.meta {
  
}
.meta__title {
  font-size: .875em;
  line-height: 1.3;

  @include mq(tablet) {
    font-size: 1.125em;
  }
}
.meta__item {
  margin-left: 0;
  display: inline;
  font-size: 0.8125em;

  @include mq(tablet) {
    font-size: 1em;
  }
}
