.top-bar {
  height: 50px - 15px - 1px; // height - padding - border, because IE7 doesn't support box-sizing
  background: #fff9f1; // Not in Origami's Palette
  position: relative;
  padding: 15px 0 0;
  border-bottom: 1px solid oColorsGetPaletteColor(pink-tint3);

  &:after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    margin-top: 1px; // avoid covering the bottom border of the top bar
    height: 5px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  }
}
.top-bar__action {
  display: block;
  position: absolute;
  right: 5px;
  top: -6px;
  width: 32px;
  height: 32px;
  background-image: url(/bower_components/o-ft-icons/svg/hamburger.svg);
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;

  .no-js & {
    display: none !important;
  }

  @include mq(tablet) {
    display: none;
  }
}