%unstyled-list,
.unstyled-list {
  margin-left: 0;
  padding-left: 0;

  &,
  > li {
    list-style-type: none;
  }
}

.inline-list {
  @extend %unstyled-list;

  > li {
    display: inline;
  }
}

.row-list {
  @extend %unstyled-list;
  table-layout: fixed;

  > li {
    display: table-cell;
  }
}