.text-small   { font-size: .8125em; }
.text-smaller { font-size: .75em; }

.text-uppercase { text-transform: uppercase; }

.text-quiet { color: oColorsGetPaletteColor(grey-tint2); }

.text-center { text-align: center; }
.text-right  { text-align: right; }