.text-tiny    { font-size: (11em/16); }
.text-smaller { font-size: (12em/16); }
.text-small   { font-size: (13em/16); }

.text-uppercase { text-transform: uppercase; }

.text-quiet { color: oColorsGetPaletteColor(grey-tint2); }

.text-center { text-align: center; }
.text-right  { text-align: right; }
