{% extends 'layout.html' %}

{% block content %}
<article class="book" itemscope itemtype="http://schema.org/Book">
    <div class="book__media">
        <img itemprop="image" src="{{ book.cover }}" alt="" />
    </div>
    <h1 class="book__title" itemprop="name">{{ book.name }}</h1>
    <div class="book__byline">
        <a href="#" class="text-quiet" itemprop="author">{{ book.author }}</a>
    </div>
    <div class="book__prizes">
        <a href="#" class="text-quiet">
            <i class="badge badge--{{ book.rank }}"></i>
            {{ book.rank }} {{ book.year }}
        </a>
    </div>
    <div class="book__meta">
        <dl class="meta">
            <dt class="meta__title">Categories</dt>
            {% for category in book.categories %}
            <dd class="meta__item text-quiet">
                <a href="/{{ category.slug }}" class="text-quiet" itemprop="genre">{{ category.name }}</a>{% if !loop.last %},{% endif %}
            </dd>
            {% endfor %}
        </dl>
    </div>
    <div class="clear"></div>
    <div class="book__content">
        <div class="book__synopsis content-block">
            <h2 class="headline content-block__headline">Synopsis</h2>
            {{ book.synopsis }}
        </div>
    </div>
    {% if book.buyitnow %}
    <div class="book__actions">
        <a href="{{ book.buyitnow }}" class="o-ft-buttons">Buy it now</a>
    </div>
    {% endif %}
</article>
{% endblock %}
