{% extends 'layout.html' %}

{% block title %}{% if page.title %}{{ page.title }} (list) - {% endif %}{{ site.name }}{% endblock %}

{% block content_primary %}

{% spaceless %}
    {% for year in books|groupBy('year') %}
        <h2 class="section-title">{{ loop.key }}</h2>
        {% for book in year %}
            {% if loop.first %}
            <ul class="shelf inline-list shelf--big text-center">
            {% endif %}
                <li class="shelf__item">
                    {% include "./book-promo.html" %}
                </li>
            {% if loop.last %}
            </ul>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endspaceless %}

{% endblock %}
