{% extends 'layout.html' %}

{% block title %}{% if page.title %}{{ page.title|capitalize }} (list) - {% endif %}{{ site.name }}{% endblock %}

{% block content_primary %}

{% spaceless %}

    {% if winners and winners.length %}
        <h2 class="section-title">The Winners</h2>
        {% for book in winners %}
            {% if loop.first %}
            <ul class="shelf inline-list shelf--big text-center">
            {% endif %}
                <li class="shelf__item">
                    {% include "./book-promo.html" %}
                </li>
            {% if loop.last %}
            </ul>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% for group in groups %}
        <h2 class="section-title js-category-name">{{ group.name|capitalize }}</h2>
        {% for book in group.books %}
            {% if loop.first %}
            <ul class="shelf inline-list shelf--big text-center">
            {% endif %}
                <li class="shelf__item">
                    {% include "./book-promo.html" %}
                </li>
            {% if loop.last %}
            </ul>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endspaceless %}

{% endblock %}
