<!DOCTYPE html>
<html class="no-js" lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, 'js');
        </script>
        {#
        Chartbeat timer #}
        <script>var _sf_startpt=(new Date()).getTime()</script>
        <meta name="copyright" content="Financial Times">
        <meta name="robots" content="index,follow">
        <meta name="author" content="FT Interactive Graphics">
        {#
        FB/OpenGraph #}
        <meta property="og:site_name" content="Financial Times"/>
        <meta property="og:type" content="article"/>
        <meta property="og:image" content="http://im.ft-static.com/m/img/social/og-ft-logo.png"/>
        <meta property="fb:page_id" content="8860325749" />
        {#
        google plus #}
        <link href="https://plus.google.com/113457471429583444041/" rel="publisher" />

        <link rel="shortcut icon" href="http://im.ft-static.com/m/icons/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="http://im.ft-static.com/m/icons/apple-touch-icon.png">

        <meta name="format-detection" content="telephone=no" />
        {#
        Serve a different stylesheet for IE8 :
        http://www.theguardian.com/info/developer-blog/2013/oct/14/mobile-first-responsive-ie8 #}
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
        <link rel="stylesheet" href="styles/main.css">
        <!--<![endif]-->
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
        <link rel="stylesheet" href="/styles/oldie.css">
        <![endif]-->
        <script src="//cdn.polyfill.io/v1/polyfill.min.js"></script>
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        {#
        FT Tracking module 1.2.3.1 #}
        <script src="http://s2.ft-static.com/scripts/392b9acc/bundles/tracking.js"></script>
        <noscript>
        <img alt="" border="0" width="1" height="1" src="http://track.ft.com/track/track.js?javascript=disabled"/>
        <img alt="" border="0" width="1" height="1" src="http://stats.ft.com/si/track.gif?WT.js=No"/>
        </noscript>

        <header class="header">
            <div class="top-bar">
                <div class="container">
                    <div class="header__logo"><a href="{{ router.url('home') }}" class="ft-logo"><img src="images/brand-ft-masthead.png" alt="Financial Times" /></a></div>
                    <div class="js-filter-bar-toggle-placeholder"></div>
                </div>
            </div>
            <a href="{{ router.url('home') }}" class="fauxlink">
                <h1 class="microsite-name">
                    {{ site.name }}
                </h1>
            </a>
        </header>

        <div class="filter-bar filter-bar--hidden clearfix js-filter-bar" id="filterbar">
            <form class="search-form js-search-form">
                <div class="search-form__inner">
                    <label for="tipue_drop_input" class="visuallyhidden">
                        Search for a book title or author
                    </label>
                    <input type="text" class="o-ft-forms__field search-form__field js-tipue-drop" autocomplete="off" id="tipue_drop_input" placeholder="Search for a book title or author" value="" />
                    <input type="submit" value="Submit" class="search-form__submit" tabindex="-1" />
                    <div id="tipue_drop_content"></div>
                </div>
            </form>
            <form class="filter-form js-filter-form" action="/" method="get">
                <div class="filter-form__inner clearfix">
                    <label for="filter" class="filter-form__label text-quiet text-uppercase text-small">
                        <span class="filter-form__filter-by">filter by </span>category
                    </label>
                    <select name="category" id="filter" class="filter-form__select o-ft-forms__field--select js-filter-form-select">
                        <option value="" {% if not category.slug %}selected{% endif %}>Show all</option>
                        {% for category in categories %}
                        <option value="{{ category.slug }}" {% if slug === category.slug %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Submit" class="filter-form__submit visuallyhidden" />
                </div>
            </form>
        </div>

        <main>
            <div class="container">
                <div class="content-primary">
                    {% block content_primary %}{% endblock %}
                </div>
            </div>
        </main>
        <div class="container">
            <div class="content-secondary">
                {% block content_secondary %}{% endblock %}
            </div>
        </div>

        <!--[if gt IE 8]><!-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!--<![endif]-->
        <!--[if lte IE 8]>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <![endif]-->
        
        <script src="scripts/vendor/tipuedrop/tipuedrop_content.js"></script>

        <!-- build:js({.tmp,app,.}) scripts/bottom.js -->
        <script src="scripts/vendor/tipuedrop/tipuedrop.js"></script>
        <script src="scripts/main-bundle.js"></script>
        <!-- endbuild -->
        {#

        Analytics #}
        <script>
            // IG Google Analytics
            var _gaq = _gaq || [];
            (function() {
              
              _gaq.push(['_setAccount', 'UA-35229645-1']);
              _gaq.push(['_trackPageview']);
              _gaq.push(['_setDomainName', 'ig.ft.com']);
              _gaq.push(['_setCookiePath', '/']);

              if (!!window['User'] && window.User.id) {  
                _gaq.push(['_setCustomVar', 1, 'User', User.id, 1]);
              }

              if (window.analytics) {
                window.analytics.timing = function timing(category, variable, time) {
                  _gaq.push(['_trackTiming', category, variable,  time]);
                };
              }

              var ga = document.createElement('script'); ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();


            // Chartbeat
            var _sf_async_config={};
            /** CONFIGURATION START **/
            _sf_async_config.uid = 14181;
            _sf_async_config.domain = "ft.com";
            _sf_async_config.useCanonical = true;
            _sf_async_config.sections = "Books";
            _sf_async_config.authors = "Interactive";
            /** CONFIGURATION END **/
            (function(){
              function loadChartbeat() {
                window._sf_endpt=(new Date()).getTime();
                var e = document.createElement("script");
                e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
                document.body.appendChild(e);
              }
              var oldonload = window.onload;
              window.onload = (typeof window.onload != "function") ?
              loadChartbeat : function() { oldonload(); loadChartbeat(); };
            })();

        </script>

    </body>
</html>
