<!DOCTYPE html>
<html class="no-js" lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--#include virtual="/inc/extras-head-1.html" -->

        <!--
            Serve a different stylesheet for IE8 :
            http://www.theguardian.com/info/developer-blog/2013/oct/14/mobile-first-responsive-ie8
        -->
        <!-- build:css({.tmp,app,.}) styles/main.css -->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{ site.staticBaseUrl }}bower_components/normalize-css/normalize.css">
        <link rel="stylesheet" href="{{ site.staticBaseUrl }}styles/main.css">
        <link rel="stylesheet" href="{{ site.staticBaseUrl }}scripts/vendor/tipuedrop/tipuedrop.css">
        <!--<![endif]-->
        <!-- endbuild -->

        <!-- build:css({.tmp,app,.}) styles/oldie.css -->
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ site.staticBaseUrl }}bower_components/normalize-css/normalize.css">
        <link rel="stylesheet" href="{{ site.staticBaseUrl }}styles/oldie.css">
        <link rel="stylesheet" href="{{ site.staticBaseUrl }}tipuedrop/tipuedrop.css">
        <![endif]-->
        <!-- endbuild -->

        <script src="//cdn.polyfill.io/v1/polyfill.min.js"></script>

        <!--#include virtual="/inc/extras-head-2.html" -->
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        <header class="header">
            <div class="top-bar">
                <div class="container">
                    <div class="header__logo"><a href="/" class="ft-logo"><span class="visuallyhidden">Financial Times</span></a></div>
                    <div class="js-filter-bar-toggle-placeholder"></div>
                </div>
            </div>
            <h1 class="microsite-name">
                {{ site.name }}
            </h1>
        </header>

        <div class="filter-bar filter-bar--hidden clearfix js-filter-bar" id="filterbar">
            <form class="search-form js-search-form">
                <div class="search-form__inner">
                    <label for="tipue_drop_input" class="visuallyhidden">
                        Search for a book title or author
                    </label>
                    <input type="text" class="o-ft-forms__field search-form__field js-tipue-drop" autocomplete="off" id="tipue_drop_input" placeholder="Search for a book title or author" value="" />
                    <input type="submit" value="Submit" class="search-form__submit" tabindex="-1" />
                    <div id="tipue_drop_content"></div>
                </div>
            </form>
            <form class="filter-form js-filter-form" action="/" method="get">
                <div class="filter-form__inner clearfix">
                    <label for="filter" class="filter-form__label text-quiet text-uppercase text-small">
                        <span class="filter-form__filter-by">Filter by </span>genre
                    </label>
                    <select name="category" id="filter" class="filter-form__select o-ft-forms__field--select js-filter-form-select">
                        <option value="">Show all</option>
                        <option value="comedy">Comedy</option>
                    </select>
                    <input type="submit" value="Submit" class="filter-form__submit visuallyhidden" />
                </div>
            </form>
        </div>

        {% block content %}{% endblock %}

        <!--#include virtual="/inc/extras-foot-1.html" -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <!-- build:js({.tmp,app,.}) scripts/bottom.js -->
        <script src="{{ site.staticBaseUrl }}scripts/vendor/tipuedrop/tipuedrop_content.js"></script>
        <script src="{{ site.staticBaseUrl }}scripts/vendor/tipuedrop/tipuedrop.js"></script>
        <script src="{{ site.staticBaseUrl }}bower_components/ondomready/ondomready.js"></script>
        <script src="{{ site.staticBaseUrl }}scripts/main-bundle.js"></script>
        <!-- endbuild -->

        <!--#include virtual="/inc/extras-foot-2.html" -->
    </body>
</html>
